.header {
	font-weight: bold;
	font-size: 2em;
}
.header-author {
	font-weight: normal;
	font-size: 1.5em;
}
.on, .on-edit {
	font-weight: bold;
	text-shadow: 0 0 4px green;
}
.off, .off-edit {
	font-weight: bold;
	text-shadow: 0 0 4px red;
}
.register {
	font-weight: bold;
	text-shadow: 0 0 4px aqua;
}
.variable {
	font-weight: bold;
}
.name {
	font-weight: bold;
	text-shadow: 0 0 4px gold;
	font-size: 1.7em;
}
.ip-online {
	font-weight: bold;
	font-size: 1.3em;
	text-shadow: 0 0 4px green;
}
.ip-offline {
	font-weight: bold;
	font-size: 1.3em;
	text-shadow: 0 0 4px red;
}
.row {
	margin-left: 2em
}
.on-edit:hover {
	text-shadow: 0 0 4px red;
}
.off-edit:hover {
	text-shadow: 0 0 4px green;
}
.coil-edit, a {
	color: black;
}
#edit-coil {
	display: inline;
}